.select_bus_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #155C8F;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 1s;
    text-align: center;
}

.select_bus_container:hover {
    background-color: #334c5e;
}

.select_bus_container > div > p {
    font-weight: 800;
}


/* bus seat plan */

.select_bus_seat_container {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    transform: rotate(-90deg);
    width: max-content;
    row-gap: 90px;
    column-gap: 10px;
    height: 200px;
    margin: 50px;   
    opacity: 1;
    transition: 0.5s;
    animation: ease-in-out; 
}

.select_bus_seat_container >div:nth-child(4n-2) {
   margin-left: -35px;
}

.select_bus_seat_container >div:nth-child(4n-3) {
   margin-left: -30px;
}

.select_bus_seat_container >div:nth-child(4n-1) {
   margin-left: 35px;
}

.select_bus_seat_container >div:nth-child(4n) {
   margin-left: 30px;
}

.select_bus_seat_plan {
    width: 50px;
    height: 50px;
    /* transform: rotate(90deg); */
    border: 1px solid #299FD1;
    border-radius: 10px;
}


.select_bus_seat_plan:hover {
    transform: scale(1.1) ;
    transition-duration: 1s;
}



.bus_seat_plan_container {
    border: 1px solid #155C8F;
    margin: 10px 30px;
    border-radius: 10px;
}

.select_bus_seat_plan_popover {
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.select_bus_seat_plan_popover_content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.select_bus_seat_plan_popover_content > div {
    width: 1px;
    height: 20px;
    border: 1px solid #155C8F;
}

.select_bus_seat_plan_popover_content > p {
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.3rem;
    text-decoration: none;
    transition-duration: 1s;
    padding: 10px 15px;
    border-radius: 10px;
    color: #155C8F;
    transition-duration: 1s;
    background-color: transparent;
    border: 1px solid #155C8F;
    cursor: pointer;
}

.select_bus_seat_plan_popover_content > p:hover {
    color: white ;
    background-color: #155C8F;
}

.select_bus_modal {
    width: 100%;
    height: 100px;
}



